body {
    background-image: url(./images/modern-affliction-403589-unsplash.jpg)
  };

#submitButton {
    margin-top: 15px;
    margin-left: 11px;
};
#surveyButton {
    background: black
};

#userMatchImage {
    width: 10%
};
.jumbotron {
    margin-top: 20px
}